<div>
  <div class="board-container">
    <table class="board-display">
      <tr ng-repeat="row in board.cells">
        <td class="cell" ng-repeat="cell in row">
          <div ng-class="{true: 'alive', false: 'dead'}[cell.isAlive()]" ng-click="cell.change()"></div>
        </td>
      </tr>
    </table>
    <div class="life-controls">
      <a ng-click="board.restartGame()"><i class="glyphicon glyphicon-refresh"></i></a>
      <a ng-click="board.startGame()"><i class="glyphicon glyphicon-play"></i></a>
      <a ng-click="board.stopGame()"><i class="glyphicon glyphicon-stop"></i></a>
    </div>
  </div>
</div>
