table.board-display{
  border: 1px solid black;
  border-collapse: collapse;
  &>th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
  }
}

.life-controls{
  width: 50%;
  margin: 0 auto;
}

.glyphicon {
  font-size: 2em;
}